@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

.root {
    display: flex;
    place-content: center flex-start;
    align-items: center;
    background-color: #fcfcfc;;
    color: #000;
    flex-flow: column nowrap;
    gap: 10px;
    height: 100vh;
    overflow: auto;
    padding: 0px;
    position: relative;
}

.container {
    display: flex;
    place-content: center flex-start;
    align-items: center;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: fit-content;
    max-width: 975px;
    overflow: auto;
    padding: 10px;
    position: relative;
    width: auto;
    gap: 40px;
}

.header {    
    flex-direction: column;
    align-items: center;
}

.top { 
    width: 100%;   
    height: 180px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin-right: -450px;
}

.small{
    -webkit-transform:scale(0.3);
    -moz-transform:scale(0.3);
    -ms-transform:scale(0.3);
    transform:scale(0.3);
}

.display-on{
    display: none;
}

.display-off{
    display: flex;
}

.brain{
    height: auto;
    width: 200px;
}

.header-title {
    gap: 12px;
}

.header-title h1 {
    width: 100%;
    font-weight: 800;
    font-size: 144px;
    letter-spacing: -4px;
    line-height: 1.2em;
    margin: 0;
}

.grammarly{
    color: #15c39a;
}
.header-subtitle h2 {
    font-family: Arial, sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4em;
    color: #B2ABF2;
    margin: 0px;
}

h3{
    color: #999999;
    font-size: 48px;
    text-align: center;
    margin: 0;
}

.CTA{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.prompt-container {
    place-content: flex-end center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 16px;
    height: min-content;
    padding: 0px;
    width: min-content;
}

.prompt-box {
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    place-content: flex-start;
    align-items: center;
    background-color: rgba(167, 167, 167, 0.595);
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: 24px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 610px;
    max-width: 1200px;
    will-change: transform;
    overflow: auto;
    outline: none;
    resize: none;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1.6em;
    text-align: start;
    text-decoration: none;
    text-transform: none;
}

textarea {
    font-family: 'Manrope', sans-serif;
}

.generate-button {
    background-color:  #B2ABF2;
    border-radius: 100px;
    gap: 10px;
    height: min-content;
    overflow: hidden;
    padding: 16px 24px;
    text-decoration: none;
    width: min-content;
    will-change: transform;
    cursor: pointer;
    outline: none;
}

.generate-button p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}


.key-stroke {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.key-stroke p {
    color: rgba(255, 255, 255, 0.75);
    flex: 0 0 auto;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
}

.or {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.or p {
    color: rgba(255, 255, 255, 0.25)
}

.loading {
    opacity: 0.7;
    cursor: default;
}

.output {
    place-content: center flex-start;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 30px;
    height: min-content;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    width: 70%;
    padding: 23px 46px;

    background: #fff;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
}


.output-header-container {
    place-content: center;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 16px;
    height: min-content;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
}

.output-header h3 {
    font-family: "Manrope", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 1.4em;
    text-align: start;
    color: #000000;
    text-decoration: none;
    text-transform: none;
    margin: 0;
}

.output-content {
    outline: none;
    display: flex;
    max-width: 75%;
    min-height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transform: none;
    position: relative;
}

.output-content p {
    text-align: center;
    color: #000000;
    margin: 0;
    font-size: 24px;
}

.stamp{
    width: 150px;
    height: auto;
    right: -60px;
    top: -30px;
    margin: auto;
    transform: translateY(-50%);
    position: absolute;
    filter: opacity(1);
}

@media (min-width: 810px) and (max-width: 1199px) {
    .container {
        max-width: 600px;
        width: 100%;
    }

    .prompt-container {
        max-width: 600px;
        width: 100%;
    }

    .prompt-box {
        width: 100%;
    }
}

@media (max-width: 809px) {
    .container {
        max-width: 500px;
        width: 100%;
    }

    .prompt-container {
        max-width: 500px;
        width: 100%;
    }

    .prompt-box {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 400px;
        width: 100%;
    }

    .header-title h1 {
        font-size: 50px;
    }

    .header-subtitle h2 {
        text-align: center;
    }

    .key-stroke, .or {
        display: none;
    }

    .prompt-buttons {
        justify-content: center;
    }

    .prompt-container {
        max-width: 400px;
        width: 100%;
    }

    .prompt-box {
        width: 100%;
    }
}



 /* Loading ring animation */
.loader {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    border-top: 2px solid #FFF;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h4 {
    font-size: 9vmin;
    color: #999999;
    text-align: left;
    font-family: Lato, sans-serif;
    font-weight: 700;
    margin: 1rem 0 1rem 2rem;
  }
  
  /* Typewriter effect 1 */
  @keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "a"; }
    2.2791%, 25.0698% { content: "ar"; }
    3.4186%, 23.9302% { content: "art"; }
    4.5581%, 22.7907% { content: "arti"; }
    5.6977%, 21.6512% { content: "artic"; }
    6.8372%, 20.5116% { content: "articl"; }
    7.9767%, 19.3721% { content: "article"; }
    9.1163%, 18.2326% { content: "articles"; }
    /* 10.2558%, 17.0930% { content: "articles"; } */
  
    30.7674%, 51.2791% { content: ""; }
    31.9070%, 50.1395% { content: "t"; }
    33.0465%, 49.0000% { content: "tw"; }
    34.1860%, 47.8605% { content: "twe"; }
    35.3256%, 46.7209% { content: "twee"; }
    36.4651%, 45.5814% { content: "tweet"; }
    37.6047%, 44.4419% { content: "tweets"; }
  
    54.6977%, 75.2093% { content: "";}
    55.8372%, 74.0698% { content: "fb";}
    56.9767%, 72.9302% { content: "fb p";}
    58.1163%, 71.7907% { content: "fb po";}
    59.2558%, 70.6512% { content: "fb pos";}
    60.3953%, 69.5116% { content: "fb post";}
    61.5349%, 68.3721% { content: "fb posts";}
  
    78.6279%, 96.8605% { content: ""; }
    79.7674%, 95.7209% { content: "n"; }
    80.9070%, 94.5814% { content: "ne"; }
    82.0465%, 93.4419% { content: "new"; }
    83.1860%, 92.3023% { content: "news"; }
    /* 84.3256%, 91.1628% { content: "posts"; } */
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "articles"; }
      25% { content: "tweets"; }
      50% { content: ""; }
      75% { content: "posts"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }
  
  .page {
    height: auto;
    width: 150px;
    min-width: 250px;
    min-height:250px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}
.filter {
    display: none;
}
.imgWrap {
    width: 80%;
    height: 80%;
    max-width: 400px;
    max-height: 400px;
    position: relative;
    overflow: hidden;
}
.imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgWrap .red {
    filter: url(#alphaRed);
    mix-blend-mode: lighten;
}
.imgWrap .green {
    filter: url(#alphaGreen);
    mix-blend-mode: lighten;
}
.imgWrap .blue {
    filter: url(#alphaBlue);
    mix-blend-mode: lighten;
}
.imgWrap:hover {
    --time: 0.3s;
}
.imgWrap:hover .red {
    transform: translate(-49.5%, -49.8%);
    animation-name: imgGlitch;
    animation-duration: var(--time);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.imgWrap:hover .green {
    transform: translate(-50.5%, -48.8%);
    animation-name: imgGlitch;
    animation-duration: var(--time);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.imgWrap:hover .blue {
    transform: translate(-50.5%, -50.8%);
    animation-name: imgGlitch;
    animation-duration: var(--time);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes imgGlitch {
    0% {
        clip-path: path("M400,21.66V10.49h-116.29V0H39.36V54.56H0v36.09H101.25v9.77H.23v5.52H101.25v14.44H22.77v15.29H13.82v39.06H.23v6.79H13.82v15.29h60.63v20.81H10.25v51.17H.23v26.75H61.69v30.57h-29.35v12.1H0v30.57H22.77v31.36H400v-25.41h-31.43v-5.95h31.43v-8.28h-31.43v-15.92h-9.57v-14.65h32.56v-13.38h8.44v-10.83h-8.44v-52.23h-79.37v-21.02h69.78v-7.64h18.03v-24.7h-8.44v-52.58h-22.99v-11.89h31.43v-15.29h-31.43v-36.3h31.43V35.03h-116.29v-13.38h116.29ZM138.57,120.38h15.14v15.29h-15.14v-15.29ZM74.45,386.85v-18.08h39.56v14.01h144.19v4.06H74.45Zm89.32-42.28v-6.37h-34.45v-12.1h48.49v18.47h-14.04Zm56.73-25.48h-5.05v-2.55h5.05v2.55Zm-5.05-13.38v-10.19h5.05v10.19h-5.05Z");
   }
    50% {
        clip-path: path("M398.2,238.77v-14.06h2.28v-24.74h-2.28v-37.76h-8.45v-4.24H215.93v-3.23h178.76v-61.25H254.7v-3.19h33.11v-11.59h102.55V29.58h-52.25V0H93.75V13.18H0v11.19H39.84v29.77H.48v36.15H39.84v28.22H18.22v6.81h5.04v10.06H14.3v61.25h60.63v2.12H1.05v56.57H29.76v21.71H96.62v3.81h4.79v7.66h-3.83v-6.14H.6v14.67H62.17v13.8H.48v30.62H82.37v3.83h35.94v8.77H15.17v13.3H118.31v8.77H.48v23.84H244.84v-12.97h134.3v-18.11h21.34v-8.29h-21.34v-26.19h19.02v-25.45h-42.19v-26.19h18.5v-1.93h26.01v-10.85h-26.01v-25.51h-71.49v-5.73h95.22Zm-171.06-75.27v14.95h-11.21v-14.95h11.21Zm-88.09-38.17h38.45v-5.25h15.55v15.31h-54.01v-10.06Zm76.88,189.34v-3.83h40.42v14.92h-10.22v-11.09h-30.21Zm-45.94,30.62h7.52v8.77h-7.52v-8.77Zm0,22.07h7.52v8.77h-7.52v-8.77Z");
   }
    100% {
        clip-path: path("M400.21,112.61v-15.31H234.82v-9.04h52.51v-6.59h112.67V32.54h-33.6V6.06h-95.3V0H69.47V2.36H29.34V13.55h40.13v7.51H32.34v20.87h-12.38v10.18H0v36.15H19.96v49.37h18.2v23.05H13.82v11.8H.23v6.81H13.82v37.96h18.52v22.74H13.14v13.3h19.2v8.96h106.23v4.44H.23v26.8H61.69v30.62h-29.35v14.67H114.47v11.23H17.55v30.62h18.3v17.63h51.68v-17.63h26.94v11.98h143.72v5.65h141.81v-25.45h-114.47v-5.21h101.25v-.75h13.22v-8.29h-13.22v-29.24h-17.58v-10.32h30.72v-10.85h-30.72v-5.11h30.72v-31.26h-16.99v-29.1h17.08v-24.74h-60.14v-6.74h-24.11v-8.11h70.6v-61.25h-20.92v-29.24h34.78Zm-164.97,180.87v-8.94h88.66v12.37h-108.46v-3.43h19.79Zm-50.53-151.63v18.82h-30.76v-23.05h71.6v4.23h-40.84Z");
   }
}